html {
    background-color: LightGrey;
  }
  
  h1 {
      color: #dc143c;
      font-family: helvetica;
    }
    
    figure {
      border: 6px solid #dc143c;
      padding: 100px;
    }
    
    figure img {
        max-width: 100%;
        height: auto;
      margin-bottom: 1.25em;
    }
    
    figcaption {
      color: #dc143c;
      font-family: helvetica;
    }
    p{
      background-color: none;
      font-family: helvetica;
      }
    
    p img {
      float: right;
      max-width: 80%;
      height: auto;
      margin-left: 75px;
      margin-bottom: 45px;
        
    }
  
  footer#page-footer{
     font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      border-top: 2px solid #dc143c;
      border-bottom: 2px solid #dc143c;
     
  }
    
    body.dark-mode {
      background: #010101;
      color: #ffffff;
    }
    
    body.dark-mode button {
      background-color: #ffffff;
    }